:root {
    --background: #FFF8EF;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
        180deg,
        #F4C542 0%,
        #FFF8EF 100%
    );
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

/* cookie */
.cookie {
    font-size: 6rem;
    margin: 1rem 0;
    transition: transform 0.2s ease;
}

.cookie:hover {
    transform: rotate(-10deg) scale(1.05);
}

/* button */
button {
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;

    background-color: white;

    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: #C0392B;
}

/* fortune text */
#fortuneText {
    margin-top: 2rem;
    font-size: 1.2rem;
    max-width: 400px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* cherry blossom */
.flower {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}